body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* App */
.app {
  width: 500px;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.app-getUsername {
  margin: 50px auto;
}

.app-userInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
